<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <div class="collapse navbar-collapse">
      <a class="navbar-brand" [routerLink]="['/games']">Split Team App</a>
      <div class="navbar-nav-scroll">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/players']">Players </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/skills']">Skills </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/rankings']">Rankings</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- <span class="mr-1"> </span>
    <a class="font-weight-bold">
      Welcome
    </a>

    <button class="btn btn-danger my-2 my-sm-0 ml-2" type="submit">
      Logout
    </button> -->
  </div>

  <!-- <form class="form-inline my-2 my-lg-0">
    <input
      class="form-control mr-sm-2"
      type="text"
      name="username"
      required
      placeholder="Username"
    />
    <input
      class="form-control mr-sm-2"
      type="password"
      name="password"
      required
      placeholder="Password"
    />
    <button class="btn btn-success my-2 my-sm-0" type="submit">
      Login
    </button>
  </form> -->
</nav>
